<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>GSC Lab - Soongsil Univ.</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/gsc_logo-DsAFOfte.svg" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
      <link rel="stylesheet" crossorigin href="css/globals.css">
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand " href="/" id="logoChange"><img src="assets/gsc_logo.png" alt="..." /></a>
                <button class="navbar-toggler col-x1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars ms-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/research">Publications</a></li> 
                        <li class="nav-item"><a class="nav-link" href="/team">Professor</a></li>
                        <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Team-->
        <section class="page-section bg-light" id="about">
            <div class="container">
                <div class="text-left">
                    <br>
                    <br>
                    <br>
                    <br>
                    <h1 class="section-heading">Professor</h1><br>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-7">
                        <div class="team-member">
                            <div class="leader">
                              <img class="mx-auto rounded-circle" src="/assets/01-DI2Ei7cB.jpg" alt="..." />
                              <h3>Dongho Kim</h3>

                              <p class="text-muted">Professor</p>
                              <p class="text-muted-line">[Director] 
                                <br>Metaverse, Graphics, AI, XR
                                <br>Email : dkim@ssu.ac.kr</p>
                                <a class="btn btn-dark btn-social mx-2" href="https://scholarworks.bwise.kr/ssu/researcher-profile?ep=610" aria-label="Paper"><i class="fa-solid fa-book"></i></a>
                            </div>
                        </div>
                </div>
                <div class="col-lg-4">
                        <div class="team-member">
                            <div class="leader text-start">
                              <h5 class="text-muted-title">| Academic Career</h5>
                                <p class="text-muted-line">⦁ 서울대학교 전자공학과 학사
                                <br>⦁ 한국과학기술원(KAIST) 전기 및 전자공학과 석사
                                <br>⦁ George Washington University 전산학과 박사</p>
                              <h5 class="text-muted-title">| Professional Career </h5>
                                <p class="text-muted-line">⦁ 메타버스 융합대학원 사업단장
                                <br>⦁ 숭실대학교 IT대학 글로벌미디어학부 교수
                                <br>⦁ 문화체육관광부 한국콘텐츠진흥원 문화기술 PD
                                <br>⦁ 삼성전자, 큐닉스 연구원</p>
                              <h5 class="text-muted-title">| Society Career</h5>
                                <p class="text-muted-line">⦁ 한국HCI학회 회장 (2022~2024) 
                                <br>⦁ 한국컴퓨터그래픽스 회장 (2018~2019)
                                <br>⦁ 연구재단 융합연구단 RB (2018~2021)
                                <br>⦁ 문화체육관광부 문화기술 PD (2009~2010)</p>
                            </div>
                        </div>
                </div>
              </div>  
        </section>
        
        <section class="page-section bg-light" id="about">
            <div class="container">
                <div class="text-left">
                    <br>
                    <!-- <h1 class="section-heading">About</h1><br> -->
                </div>
                <ul class="timeline">
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="/assets/1-D1SYefXN.jpg" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2004</h4>
                                <h4 class="subheading">Our Lab Beginnings</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Real-Time Rendering with Graphics hardware 분야를 중점으로 다양한 미디어 분야 연구 </p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="/assets/2-Dq01jVah.jpg" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>March 2011</h4>
                                <h4 class="subheading">스포츠/ICT 융합 연구</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">헬스케어 분야와 ICT를 융합하여 재활운동, 클라이밍 등의 스마트 헬스케어 기술을 연구</p></div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="/assets/3-1lsySS9U.jpg" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>December 2017</h4>
                                <h4 class="subheading">실감콘텐츠, 메타버스</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">메타버스 관련 최신 기술 분석과 3D 재구성 및 GIS 기술 분석, XR기반의 실감 콘텐츠 제작 및 연구</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="/assets/4-fDjDJ-gw.jpg" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>July 2024</h4>
                                <h4 class="subheading">메타버스 융합 대학원 (사업단장)</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">메타버스의 특성에 맞춘 인재양성을 위해 XR, AI, 메타버스 관련 최신 기술과 인문사회 분야까지 아우르는 융합 연구</p></div>
                        </div>
                    </li>
                    
                </ul>
            </div>
        </section>   
        <!-- Footer-->
        <footer class="footer py-4 ">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 text-lg-start">Soongsil University GSClab</div>
                    <div class="col-lg-4 my-3 my-lg-0">
                    </div>
                    <!-- <div class="col-lg-4 text-lg-end">
                        <a class="btn btn-dark btn-social mx-2" href="https://www.youtube.com/@%EB%B9%84%EC%A3%BC%EC%96%BC%EC%9D%B8%ED%94%BC%EB%8B%88%ED%8B%B0" aria-label="Youtube"><i class="fa-brands fa-youtube"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="/OlgrimPage" aria-label="Meta"><i class="fa-brands fa-meta"></i></a>    
                    </div> -->
                </div>
            </div>
        </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>
