<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>GSC Lab</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="mainAssets/img/icon.ico" rel="icon">
  <link href="mainAssets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="mainAssets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="mainAssets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="mainAssets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="mainAssets/vendor/aos/aos.css" rel="stylesheet">
  <link href="mainAssets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="mainAssets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="mainAssets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: UpConstruction - v1.3.0
  * Template URL: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=41f5171c2f12b13f50cb612bde25bca5"></script>

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <img src="mainAssets/img/ssu-logo_1.png" alt="">
        <h1>X</h1>
        <img src="mainAssets/img/vs-logo.png" alt="">
        <h1>X</h1>
        <img src="mainAssets/img/meta-logo-1.png" alt="">
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/map">Map</a></li>
          <li><a href="/contact" class="active">Contact</a></li>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <!-- <div class="breadcrumbs d-flex align-items-center" style="background-image: url('mainAssets/img/breadcrumbs-bg.jpg');"> -->
    <div class="breadcrumbs d-flex align-items-center" style="background-color:--color-default';">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>Contact</h2>
        <ol>
          <li><a href="/">Home</a></li>
          <li>Contact</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-6">
            <div class="info-item  d-flex flex-column justify-content-center align-items-center">
              <i class="bi bi-map"></i>
              <h3>주소</h3>
              <p>서울 동작구 사당로 50, 숭실대 정보과학관 608호</p>
            </div>
          </div>
          <!-- End Info Item -->

          <div class="col-lg-3 col-md-6">
            <script>
              function sendEmail() {
                window.location = "mailto:dkim@ssu.ac.kr";
              };
            </script>

            <div class="info-item d-flex flex-column justify-content-center align-items-center" style="cursor:pointer"
              onclick="sendEmail();">
              <i class="bi bi-envelope"></i>
              <h3>Email Us</h3>
              <p>dkim@ssu.ac.kr</p>
            </div>
          </div><!-- End Info Item -->

          <div class="col-lg-3 col-md-6">
            <script>
              function call() {
                window.location = "tel:02-821-2889";
              };
            </script>

            <div class="info-item  d-flex flex-column justify-content-center align-items-center" style="cursor:pointer"
              onclick="call();">
              <i class="bi bi-telephone"></i>
              <h3>Call Us</h3>
              <p>02-821-2889</p>
            </div>
          </div><!-- End Info Item -->

        </div>

        <div class="row gy-4 mt-1">

          <div class="col-lg-12">
            <div id=map style="width:100%;height:384px;">
              <script>
                var markerPosition = new kakao.maps.LatLng(37.49460851625686, 126.95974864401697);
                var marker = {
                  position: markerPosition
                };
                var staticMapContainer = document.getElementById("map");
                var staticMapOption = {
                  center: new kakao.maps.LatLng(37.49460851625686, 126.95974864401697),
                  level: 3,
                  marker: marker
                };

                var staticMap = new kakao.maps.StaticMap(staticMapContainer, staticMapOption);
              </script>
            </div>
            <!-- <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
              frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe> -->

          </div><!-- End Google Maps -->

          <!-- <div class="col-lg-6">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row gy-4">
                <div class="col-lg-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-lg-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>End Contact Form -->

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="footer-legal text-center position-relative">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>GSC lab</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> Distributed by <a
            href="https://themewagon.com">ThemeWagon</a>
        </div>
      </div>
    </div>

  </footer>
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="mainAssets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="mainAssets/vendor/aos/aos.js"></script>
  <script src="mainAssets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="mainAssets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="mainAssets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="mainAssets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="mainAssets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="mainAssets/js/main.js"></script>

</body>

</html>