<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>GSC Lab</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="mainAssets/img/icon.ico" rel="icon">
  <link href="mainAssets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="mainAssets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="mainAssets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="mainAssets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="mainAssets/vendor/aos/aos.css" rel="stylesheet">
  <link href="mainAssets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="mainAssets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="mainAssets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: UpConstruction - v1.3.0
  * Template URL: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <img src="mainAssets/img/ssu-logo_1.png" alt="">
        <h1>X</h1>
        <img src="mainAssets/img/vs-logo.png" alt="">
        <h1>X</h1>
        <img src="mainAssets/img/meta-logo-1.png" alt="">
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/map" class="active">Map</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <!-- <div class="breadcrumbs d-flex align-items-center" style="background-image: url('mainAssets/img/breadcrumbs-bg.jpg');"> -->
    <div class="breadcrumbs d-flex align-items-center" style="background-color:--color-default';">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>Map</h2>
        <ol>
          <li><a href="/">Home</a></li>
          <li>Map</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <section>
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <div class="jumbotron">
            <h1 class="display-4">Map Service</h1>
            <!-- <p class="lead">About Map Service</p> -->
            <!-- <hr class="my-4">
                    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p> -->
            <p class="lead">
              <a class="btn btn-primary btn-lg" href="gsc/map/" target="_blank" role="button">Move to Map Service</a>
            </p>
          </div>
        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-legal text-center position-relative">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>GSC lab</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> Distributed by <a
            href="https://themewagon.com">ThemeWagon</a>
        </div>
      </div>
    </div>

  </footer>
  <!-- End Footer -->


  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="mainAssets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="mainAssets/vendor/aos/aos.js"></script>
  <script src="mainAssets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="mainAssets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="mainAssets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="mainAssets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="mainAssets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="mainAssets/js/main.js"></script>

</body>

</html>