<!-- <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Historical Map Overlay</title>
        <link rel="shortcut icon" href="#">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <canvas id="renderCanvas"></canvas>
        <script src="https://cdn.babylonjs.com/babylon.js"></script>
        <script src="https://cdn.babylonjs.com/gui/babylon.gui.min.js"></script>
        <script src="https://cdn.babylonjs.com/loaders/babylon.glTF2FileLoader.min.js"></script>
        <script src="ar.js"></script>
    </body>
</html> -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Historical Map Overlay</title>
        <link rel="shortcut icon" href="#">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <canvas id="renderCanvas"></canvas>
        <script src="https://cdn.jsdelivr.net/npm/earcut@2.2.2/dist/earcut.min.js"></script>
        <script src="https://cdn.babylonjs.com/babylon.js"></script>
        <script src="https://cdn.babylonjs.com/loaders/babylonjs.loaders.min.js"></script>
        <script src="https://cdn.babylonjs.com/gui/babylon.gui.min.js"></script>
        <script src="https://cdn.babylonjs.com/materialsLibrary/babylon.waterMaterial.js"></script>
        <script type="module" src="/js/detection.js"></script>
    </body>
</html>